@import url("https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css");

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}
